*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
  font-family: 'Neucha', cursive;
  background: url("https://cdn.pixabay.com/photo/2018/02/26/20/29/colorful-books-3183964_1280.jpg") no-repeat fixed center;
  background-size: cover;
}

h1{
	position: fixed;
	z-index: 2;
	background-color: #263535;
	color: #dff4dc;
	height: 100px;
	width: 100%;
	line-height: 100px;
  	font-size: 42px;
  	text-align: right;
  	padding-right: 50px;
}

nav{
	width: 20%;
	height: 100vh;
	background-color: #263535;
	position: fixed;
	z-index: 2;
	opacity: 0.97;
	font-size: 24px;
}

.main-content{
	position: absolute;
	left: 20%;
	width: 80%;
	height: 100vh;
	background-color: #dff4dc;
	opacity: 0.95;
	padding: 150px 100px 50px 100px;
	overflow: auto;
}

.top-side-nav{
	height: 75%;
	padding-top: 150px;
}

nav li{
	list-style: none;
	text-align: center;
	padding: 5px 0;
}

nav a{
	text-decoration: none;
	color: #dff4dc;
}

.bottom-side-nav{
	height: 25%;
}

.target-screen{
	background-color: #dff4dc;
	color: #263535;
}

select{
	text-align-last: center;
	display: inline-block;
	width: 23%;
	outline: none;
	border-color: #263535;
	border-width: 1.5px;
	border-radius: 5px;
	padding: 10px;
	color: #263535;
	font-family: 'Neucha', cursive;
	font-weight: bold;
	font-size: 16px;
}

option{
	color: #263535;
	font-family: 'Neucha', cursive;
	font-weight: bold;
	font-size: 16px;
}

input{
	display: inline-block;
	margin: 0 50px;
	width: 50%;
	outline: none;
	border-color: #263535;
	border-width: 1.5px;
	border-radius: 5px;
	padding: 10px 15px;
	color: #263535;
	font-family: 'Neucha', cursive;
	font-weight: bold;
	font-size: 16px;
}

.search-field button{
	width: 150px;
	outline: none;
	border-color: #263535;
	border-width: 1.5px;
	border-radius: 5px;
	padding: 10px 15px;
	background-color: #263535;
	color: #dff4dc;
	cursor: pointer;
	font-weight: bold;
	font-size: 16px;
	font-family: 'Neucha', cursive;
}

.results-field{
	margin: 50px 0;
}

.result{
	width: 43%;
	height: 300px;
	border: 2px solid #263535;
	display: inline-block;
	margin: 30px;
	color: #263535;
}

.result p{
	font-size: 32px;
	padding-top: 100px;
	text-align: center;
}

.button-field{
	text-align: center;
}

.button-field button{
	display: inline-block;
	width: 70px;
	outline: none;
	border: none;
	border-width: 1.5px;
	border-radius: 5px;
	padding: 5px 15px;
	background-color: #263535;
	margin: 0 100px;
	color: #dff4dc;
	cursor: pointer;
	font-weight: bold;
	font-size: 26px;
	font-family: 'Neucha', cursive;
}

.view-result-modal{
	position: fixed;
	top: 100px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.7);
	overflow: auto;
}

.result-box{
	padding: 15px;
	position: relative;
	left: 20%;
	margin-left: 250px;
	top: 8%;
	width: 50%;
	height: 450px;
	background-color: #dff4dc;
	border: none;
	border-radius: 5px;
}

.book-info{
	color: #263535;
}

.book-info img{
	float: left;
	width: 30%;
	height: 30%;
}

.book-info p{
	display: inline-block;
	float: right;
	width: 70%;
	padding: 15px;
	font-size: 18px;
}

.book-info:before,
.book-info:after{
	content: " ";
	clear: both;
	display: block;
}

.user-swap-list{
	margin: 25px 0;
	padding: 0 20px;
}

.user-swap-list h3{
	padding: 5px 0 15px 0;
	color: #263535;
}

.user-swap-list li{
	padding: 5px 0;
	font-size: 18px;
	margin-left: 30px;
}

.user-swap-list a{
	text-decoration: none;
	color: #263535;
	display: inline-block;
	margin-right: 100px;
}

.fa-exchange-alt{
	cursor: pointer;
	color: #263535;
}

.user-swap-list a:hover{
	font-weight: bold;
	font-style: italic;
}

.result-box button{
	display: block;
	margin: 0 auto;
	outline: none;
	border: none;
	border-width: 1.5px;
	border-radius: 5px;
	padding: 5px 15px;
	background-color: #263535;
	color: #dff4dc;
	cursor: pointer;
	font-weight: bold;
	font-size: 26px;
	font-family: 'Neucha', cursive;
}


